@font-face {
  font-family: "comic-sans";
  src: url('./font/comici.ttf');
}

@font-face {
  font-family: "sofia";
  src: url('./font/Fonts/sofiapro-light.otf');
}

@font-face {
  font-family: "command";
  src: url('./font/digital-7.ttf');
}

body {
  background-color: #f9f9f9;
  font-family: "sofia";
}

.box {
  background-color: white;
  border-radius: 10px;
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  margin-bottom: 50px;
}

footer {
  background-color: #f2f4f5;
  padding: 30px;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: #213e7b;
  font-family: "comic-sans";
}

/* h1:before{
  content:url('cricket\ \(1\).png');
  margin-right: 7px;
} */

h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 40px;
}

h3 {
  text-align: center;
  font-size: 30px;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section2 {
  padding-top: 70px;
  padding-bottom: 30px;
}

.gifs-img {
  width: 100%;
  height: 400px;
}

.thanks {
  font-size: 30px;
}

.installation {
  background-color: rgb(238, 238, 248);
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  /* border-radius: 20px; */
  font-size: 1.1em;
  /* font-weight: 600; */
  font-family: 'sofia';
  display: block;
}

.installation-padding {
  padding: 20px 40px;
}

.paragraph {
  padding-top: 50px;
}

.par {
  font-size: 16px;
  color: #1d1d1d;
  line-height: 30px;
  display: grid;
  align-content: center;
  font-weight: 800;
  /* font-size: 20px; */
}

.par-left {
  padding-left: 100px;
}

.par-right {
  padding-right: 100px;
}

.par p {
  font-size: 1.2em;
  color: #696767;
  line-height: 26px;
}

.cricli-text {
  line-height: 29px;
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  /* margin-bottom: 50px;   */
  margin-bottom: 50px;
  margin-top: 20px;
}

.img {
  margin-top: 10px;
}

span {
  color: red;
  font-size: 27px;
}

.fire-img {
  margin-left: 7px;
}

li {
  line-height: 27px;
}

a {
  color: black;
  text-decoration: none;
}

.loveit {
  text-align: center;
  font-size: 30px;
}

.command {
  font-family: "hack";
  color: black;
  background-color: rgb(238, 238, 248);
  width: 140px;
  /* border-radius: 5px; */
  padding: 10px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 500;
}

.command-2 {
  font-family: "hack";
  color: black;
  background-color: rgb(238, 238, 248);
  /* border-radius: 5px; */
  padding: 10px;
  /* width: 250px; */
  width: 165px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 500;
}

.link {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 45px;
}

button {
  background-color: #ff421d;
  color: white;
  border: none;
  /* border-radius: 20px; */
  height: 40px;
  width: 140px;
  letter-spacing: 1px;
  font-size: 1.2em;
  margin-left: 25px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-center {
  text-align: center;
}

footer a {
  font-size: 40px;
}

footer p {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media only screen and (max-width:1057px) {
  .display-flex {
    display: block;
    text-align: center;
  }
  .thanks{
    margin-bottom: 20px;
  }
  button{
    margin-left:0px;
  }
}

@media only screen and (max-width:1024px) {
  .installation {
    width: 100%;
  }
}

@media only screen and (max-width:400px) {
  .grid-section {
    grid-template-columns: 1fr;
    display: block;
  }
  .par-left {
    padding-left: 0px;
  }
  .par-right {
    padding-right: 0px;
  }
  .section2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .gifs-img {
    height: 100%;
  }
  .par {
    margin-top: 30px;
  }
  footer a{
    font-size:30px;
  }
}
@media only screen and (max-width:346px) {
  button{
    width:150px;
  }
}
@media only screen and (max-width:320px) {
  .par p {
    font-size: 1.5em;
    line-height: 42px;
  }
}